<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/bootstrap-icons.css">
  <link rel="stylesheet" href="../style.css">
  <title>Buttons</title>
</head>
<body>

<button class="btn-primary d-flex justify-content-center">
  <span class="arrow-short_right">
    <i class="bi bi-arrow-right-short"></i>
  </span>
  Contactarnos
</button>
<br>
<button class="btn-primary btn-ghost d-flex justify-content-center">
  <span class="arrow-short_right align-items-center">
    <i class="bi bi-arrow-right-short"></i>
  </span>
  Ver catálogo
</button>

</body>
</html>